
.jumbotron {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 0;
    }
    
    .card {
        min-width: 350px;
        max-width: 350px; 
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .card-deck {
        margin-bottom: 15px;
    }
    
    h2 {
        color: firebrick;
    }